<div class="container">
	<div class="toast-container position-fixed end-0 p-3">
		<div id="toast" class="toast align-items-center text-white border-0" role="alert" aria-live="assertive" aria-atomic="true">
			<div class="d-flex">
				<div class="toast-body">
				</div>
				<button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
			</div>
		</div>
	</div>
	<div class="column mb-4">
		<div class="custom-search">
			<form method="get" id="search-form">
				<i class="fa fa-search"></i>
				<input type="text" name="search" class="form-control" placeholder="Search by name or category">
				<button class="btn btn-primary" type="submit">Search</button>
			</form>
		</div>
	</div>
	<table id="eventsTable"
		   data-toggle="table"
		   data-url="@Url.Action("GetAll", "Orders")"
		   data-side-pagination="server"
		   data-page-size="5"
		   data-unique-id="orderID"
		   data-pagination="true">
		<thead>
			<tr>
				<th data-checkbox="true"></th>
				<th data-field="orderID" data-class='hidden'>ID</th>
				<th data-field="customerName">Customer</th>	
				<th data-field="totalPrice">TotalPrice</th>
				<th data-field="reason">Reason</th>
				<th data-field="createAt">Time</th>
			</tr>
		</thead>
	</table>
</div>
<script>
	document.addEventListener("DOMContentLoaded", function (event) {
		// get data to table
		var eventsTable = $('#eventsTable');
		$('#search-form').submit(function (e) {
			e.preventDefault();
			var pageSize = eventsTable.bootstrapTable('getOptions').pageSize;
			var pageNumber = eventsTable.bootstrapTable('getOptions').pageNumber;
			var data = $(this).serialize();
			var url = "@Url.Action("GetAll", "Orders")" + '?' + data + '&offset=' + (pageNumber-1) * pageSize + '&limit=' + pageSize;
			$.ajax({
				url: url,
				data: data,
				success: function (data) {
					$('#eventsTable').bootstrapTable('load', data);
				}
			});
		});
	});
</script>