@model OnlineStore.Domain.Helpers.PagingModel;
@{
    int PageNumber = Model.PageNumber;
    int countPages = Model.CountPage;
    var generateUrl = Model.PageUrl;

    if (PageNumber > countPages)
        PageNumber = countPages;

    if (countPages <= 1) return;


    int? previous = null;
    int? next = null;
    if (PageNumber > 1)
        previous = PageNumber - 1;

    if (PageNumber < countPages)
        next = PageNumber + 1;

    List<int> pagesRanges = new List<int>();


    int delta = 5;         
    int remain = delta * 2;  

    pagesRanges.Add(PageNumber);
    for (int i = 1; i <= delta; i++)
    {
        if (PageNumber + i <= countPages)
        {
            pagesRanges.Add(PageNumber + i);
            remain--;
        }

        if (PageNumber - i >= 1)
        {
            pagesRanges.Insert(0, PageNumber - i);
            remain--;
        }

    }

    if (remain > 0)
    {
        if (pagesRanges[0] == 1)
        {
            for (int i = 1; i <= remain; i++)
            {
                if (pagesRanges.Last() + 1 <= countPages)
                {
                    pagesRanges.Add(pagesRanges.Last() + 1);
                }
            }
        }
        else
        {
            for (int i = 1; i <= remain; i++)
            {
                if (pagesRanges.First() - 1 > 1)
                {
                    pagesRanges.Insert(0, pagesRanges.First() - 1);
                }
            }
        }
    }

}

<ul class="pagination">
    <!-- Previous page link -->
    @if (previous != null)
    {
        <li class="page-item">
            <a class="page-link" href="@generateUrl(previous)">Previous</a>
        </li>
    }
    else
    {
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
    }

    <!-- Numbered page links -->
    @foreach (var pageitem in pagesRanges)
    {
        if (pageitem != PageNumber)
        {
            <li class="page-item">
                <a class="page-link" href="@generateUrl(pageitem)">
                    @pageitem
                </a>
            </li>
        }
        else
        {
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">@pageitem <span class="sr-only">(current)</span></a>
            </li>
        }
    }


    <!-- Next page link -->
    @if (next != null)
    {
        <li class="page-item">
            <a class="page-link" href="@generateUrl(next)">Next</a>
        </li>
    }
    else
    {
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
        </li>
    }
</ul>